@import "../../assets/styles/constants.scss";

.bf-order-placement-container{
    background-color: white;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
    &.bf-multiple-leg-data {
        select {
            background-image: none !important;
        }
        .bf-date-picker {
            button {
                visibility: hidden !important;
            }
        }
        .checkbox-container label {
            color: $primary-clr !important;
        }
        .form-check-input[type=checkbox] {
            border-color: #707070 !important

        }
    }
    .bf-powerby-stripe {
        width: 150px;
        margin-top: -12px;
    }
    .bf-order-placement-header-container{
        display: flex;
        justify-content: space-between ;
        padding: 10px;
        color: $btn-primary-clr;
        > div {
            &:nth-child(2) {
                text-align: center;
                margin-left: 20px;
                margin-right: 20px;
            }
        }
        .bf-order-placement-header{
            font-weight: bold;
            font-size: 22px;
            text-transform: capitalize;
        }
        .bf-order-plcde-fbo-address-section {
            text-align: right;
            font-size: 14px;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            color: $btn-primary-clr;
        }
    }
    .bf-order-placement-fields-container {
        padding: 10px;
        &.bf-services-input-section {
            margin-top: -20px;
            margin-bottom: 0 !important;
        }
        .bf-checkbox-field {
            align-items: center;
            margin-bottom: 10px;
            color: $btn-primary-clr;
            .checkbox-container {
                display: flex;
                align-items: center;
                width: 65%;
                input {
                    margin-top: 0 !important;
                }
                label {
                    margin-left: 5px;
                    max-width: 65%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            > span {
                &.bf-service-amount {
                    width: 35%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        @media screen and (min-width:1360px) and (max-width:1519px) {
            .bf-placeorder-phone-number {
                input {
                    font-size: 12px;
                    height: 38px;
                }
            }
        }
        @media screen and (min-width:1520px) and (max-width:1730px) {
            .bf-placeorder-phone-number {
                input {
                    font-size: 15px;
                    padding-left: 4px;
                }
            }
        }
    }
    .bf-strike-stars {
        position: relative;
        span {
            &:first-child {
                text-decoration: line-through;
            }            
            &:last-child {
                // position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .bf-subheading.bf-mrgb-10 {
        margin-bottom: 10px !important;
    }
    .bf-services-details {
        border: 1px solid rgba(0,0,0,0.25);
        width: calc(100% - 24px);
        margin-left: 12px;
        padding: 15px 40px 15px 12px;
        &.bf-border-clr-red {
            border: 1px solid $bf-error-clr !important;
        }
    }
    &.bf-order-placed-summary-view {
        .bf-order-placed-header {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: flex;
            .bf-orderd-operator {
                font-size: 30px;
                font-weight: 400;
                text-transform: capitalize;
                > div {
                    &:first-child {
                        margin-right: 10px;
                        text-transform: uppercase !important;
                        &::after {
                            content: '-';
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .bf-order-plcde-fbo-address-section {
            display: flex;
            .bf-order-placement-subheader {
                &:last-child {
                    font-size: 16px;
                    margin-right: -5px;
                    svg {
                        font-size: 18px;
                        margin-right: 5px;
                    }
                    span {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        .bf-subheading {
            margin-bottom: 15px !important;
            margin-top: -15px;
        }
        .bf-mrgt25 {
            margin-top: 25px;
        }
        .mb-4 {
            margin-bottom: 14px !important;
        }
        .bf-operator-phone-number {
            padding-right: 15px;
            position: relative;
            span {
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                }
            }
            &::after {
                content: '|';
                margin-left: 5px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    
    @media screen and (min-width:1024px) and (max-width:1519px) {
        .bf-multiline-smd {
            margin-top: -21px;
            .form-label {
                padding-right: 2px;
            }
            .bf-more-info.bf-moreinfo-mrg {
                margin-bottom: -10px;
            }
        }
        .bf-order-placement-header-container{
            .bf-order-placement-header{
                font-weight: bold;
                font-size: 22px;
                min-width: 150px;
            }
            .bf-order-plcde-fbo-address-section {
                text-align: right;
                font-size: 14px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                color: $btn-primary-clr;
                max-width: 250px;
            }
        }
    }

    @media screen and (min-width:1024px) and (max-width:1520px) {
        .bf-multiline-smd {
            margin-top: -21px;
            .form-label {
                padding-right: 2px;
            }
            .bf-more-info.bf-moreinfo-mrg {
                margin-bottom: -10px;
            }
        }
    }
    
    @media screen and (min-width:1521px) and (max-width:1599px) {
        padding-left: 20px;
        padding-right: 20px;
        .bf-moreinfo {
            font-size: 13px;
        }   
        .bf-multiline-smd {
            margin-top: 0;
            .bf-moreinfo-mrg {
                margin-bottom: 0 !important;
            }
        }
    }

    @media screen and (min-width:1600px) {
        .bf-order-placement-header-container {
            > div {
                font-size: 25px;
                &.bf-order-plcde-fbo-address-section {
                    font-size: 16px !important; 
                }
            }
        }
        .bf-subheading::after {
            width: 97%;
        }
    }
}
.bf-order-placement-home {
    .bf-orderplacement-scroll-section {
        .bf-order-placement-fields-container {
            .bf-date-picker-disabled {
                margin-top: -4px;
            }
        }
    }
}