@import "../../assets/styles/constants.scss";

.admin-signup {
    height: calc(100vh - 120px);
    .btn {
        &.btn-signup {
            width: 220px !important;
            background-color: #051B2E;
            border-color: #051B2E;
            margin-bottom: 10px;
        }
    }
}
.bf-download-sample-xl {
    margin-top: -38px !important;
    font-size: 12px;
    &.bf-error-temp {
        margin-top: -18px !important;
    }
    a {
        text-align: right;
        display: block;
        margin-left: -15px;
        text-decoration: none;
    }
}
.signup-section {
    .login-form {
        justify-content: initial !important;
    }
    form {
        padding-left: 5%;
        padding-right: 5%;
        width: 100% !important;
        max-width: 100% !important;
        .btn-group {
            justify-content: flex-start;
            button {
                width: 150px !important;
                flex: 0 0 150px !important;
            }
        }
    }
    .add-new-button {
        background-color: transparent !important;
        max-height: 40px;
    }
}
.bf-mrgb-0 {
    .mb-4 {
        margin-bottom: 0 !important;
    }
}
.bf-buttons-section {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.admin-add-user {
    .mb-2 {
        &:nth-child(4) {
            margin-top:-20px;
        }
    }
    .form-check-input:checked[type=radio] {
        background-image: none;
        border-color: $btn-primary-clr !important;
        background-color: transparent !important;
        position: relative;
        z-index: 1;
    }
    .form-check-input:checked[type=radio]::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background: $btn-primary-clr;
        top: 11%;
        left: 9%;
        border-radius: 50%;
    }
    .d-flex.mb-4.col-md-3 {
        .form-check:last-child {
            .form-check-input:checked[type=radio]::after {
                left: 10%;
            }
        }
    }
    .bf-buttons-section {
        &.row {
            margin-top: 20px !important;
            &.bf-operator-add-remove {
                margin-top: -10px !important;
            }
        }
    }
}
.bf-operator-enrollment-section {
    .mb-4.col-md-4 {
        
        &.bulk-upload{
            margin-bottom: 1.5rem !important;
        }
    }
    .login-form {
        .bf-company-input-container-section {
            .btn-group {
                .btn-primary {
                    margin-left: 18px !important;
                }
            }
        }
        .bf-deactivate-company {
            a {
                padding-left: 18px !important;
            }
        }
    }
}
