@import "../assets/styles/constants.scss";
.home-container {
    min-height: 100vh;
    .home-screen {
        background-image: url('../assets/images/login_bg1.png') !important;
        background-size: 100%;
        height: 100vh;
        background-position: center center;
        @media screen and (max-width:767px) {
            background-repeat: no-repeat;
            background-position: top left;
        }
    }
}